@use 'partials/variables' as *;
@use 'partials/mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1300px;
  width: 80%;
  margin: 0 auto;
}

header {
    .container {
        display: flex;
        justify-content: space-between;
        height: 115px;
        .logo {
            @include centerFlex('vertical');

          img {
            height: 80px;
          }
        }
        .menu-seachbar{
            display: flex;
            height: 100%;
        }
        .searchbar {
            align-self: center;
            display: flex;
            color: black;
            border-bottom: 3px solid $primary-color;
        }
        input {
            height: fit-content;
            border: none;
            align-self: center;
            text-align: right;
            padding-right: 5px;
        }
        ul {
          list-style: none;
          display: flex;
          height: 100%;
          text-transform: uppercase;

          li{
            height: 100%;
            display: flex;
            align-items: center;
            padding-top: 30px;
          }
          a {
            height: 100%;
            text-decoration: none;
            display: inline-block;
            padding: 1rem;
            color: black;
            font-weight: 600;
              &:hover,
              &.active{
              border-bottom: 6px solid $primary-color;
              }
          }
        }
      }
}

.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    height: 400px;
}

main {
    background-color: black;
    color: white;
    .container {
      padding: 50px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      .tag {
        text-transform: uppercase;
        position: absolute;
        top: calc(-15px - 12.5px);
        left: 0;
        background-color: $primary-color;
        padding: 15px 30px;
        font-size: 25px;
        font-weight: 800;
      }
      .btn-load-more {
        align-self: center;
      }
    }

    .card-area {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .card{
    margin-bottom: 45px;
    padding: 0 12.5px;
    width: calc(100% / 6);
    min-width: 190px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:hover img{
      opacity: 0.5;
    }
    .img-area {
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      margin-bottom: 20px;
      position: relative;
    }
    .price-hover{
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      aspect-ratio: 1;
      @include centerFlex('both');
      span {
        display: block;
      }
    }
  }

.footer-top{
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    color: white;
    .container {
      background-image: url("../img/dc-logo-bg.png");
      display: flex;
      height: 370px;
      background-position:right;
      background-repeat: no-repeat;
      .link-area {
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .links:nth-child(1) {
          margin-bottom: 15px;
        }
        .links {
          height:min-content;
          width: calc(calc(100%/3)/3);
          min-width: 130px;

          h4{
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 15px;
          }
          ul {
            list-style: none;
            li {
              margin-bottom: 5px;
            }
            a{
              color: grey;
              text-decoration: none;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: rgb(48, 48, 48);
    color: white;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button {
        flex-shrink: 0;
        border: 2px solid $primary-color;
        padding: 15px;
        margin-right: 20px;
        a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
      .social-links{
        padding: 30px 0;
        display: flex;
        align-items: center;
        h4 {
          text-transform: uppercase;
          margin-right: 20px;
          color: $primary-color;
          flex-shrink: 0;
        }
        ul{
          display: flex;
          list-style: none;
          li {
            margin: 0 5px;
          }
        }
      }
    }
  }
